# Pre-installation requirements
setuptools>=65.5.1
wheel>=0.38.4
Cython>=0.29.24

# Main dependencies
typer
python-dotenv
requests
beautifulsoup4
openai
elevenlabs
google-generativeai
pypdf
pyyam
youtube_transcript_api
pydub

fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2

# Data science and machine learning libraries
pandas
scikit-learn
matplotlib
seaborn
numpy

# Additional dependencies
protobuf==3.20.3
grpcio